<div class="form-container">

    <h2>{{ isEditMode ? 'Edit Employee' : 'Add Employee' }}</h2>

    <form [formGroup]="employeeForm" (ngSubmit)="onSubmit()">
        <div>
            <div class="form-section">
                <label for="first_name">First Name: </label>
                <input id="first_name" type="text" formControlName="first_name" placeholder="first name"/>

                @if (employeeForm.get('first_name')?.invalid && employeeForm.get('first_name')?.touched) {

                    <small class="error">First name is required.</small>

                }
            </div>

            <div class="form-section">
                <label for="last_name">Last Name</label>
                <input id="last_name" type="text" formControlName="last_name" placeholder="last name"/>
            </div>

            <div class="form-section">
                <label for="email">Email</label>
                <input id="email" type="email" formControlName="email" placeholder="address@mail.com">
            </div>

            <div class="form-section">

               <label for="position">Position</label>
                <input id="position" type="text" formControlName="position" placeholder="ex. Software Developer">
            </div>

            <div class="form-section">
                <label for="salary">Salary</label>
                <input id="salary" type="number" formControlName="salary" placeholder="0.00 / year">
            </div>

            <div class="form-group">
                <label for="department">Department</label>
                <input id="department" type="text" formControlName="department" placeholder="e.g. IT, HR">
            </div>

            <div class="form-group">
                <label for="date_of_joining">Date of Joining</label>
                <input id="date_of_joining" type="date" formControlName="date_of_joining">
            </div>

            <div class="form-group full-width">
                <label for="employee_photo">Profile Picture</label>
                <input id="employee_photo" type="file" (change)="onFileSelect($event)" accept="image/*">
            </div>
        </div>

        <div class="button-group">
        <button type="button" class="cancel-btn" (click)="onCancel()">Cancel</button>
        <button type="submit" class="submit-btn" [disabled]="employeeForm.invalid">Save Employee</button>
        </div>

    </form>

    @if (errorMsg) {
        <div class="alert-error">{{ errorMsg }}</div>
    }

</div>
